.about-flex {
  display: flex;
  justify-content:space-evenly;
}

.about-section {
  border: 1px solid green;
  margin-bottom: 100px;
}

.about__img {
  width: 300px;
  width: 300px;
  border-radius: 4px;
  margin-left: 50px;
}

/* @media(max-width: 992px) {
  .about-section {
    width: 800px;
  }
}

@media(max-width:768px) {
  .about-section {
    width: 600px;
  }
} */

@media(max-width:600px) {
  .about-flex {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:600px) {
  .about__img {
    margin: 0;
  }
}
