.footer__section {
  background-color: rgb(44, 44, 44);
  color: #0659d5;
  padding: 32px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 100%;
  align-items:center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer__li {
  list-style-type: none;
  line-height: 1.6;
}

.footer__li > li > a {
  color: #0c63e7;
}

.footer__icon {
  color: #0c63e7;
}

.footer__icon, .footer__li>li>a:hover {
  font-weight: bold;
}
