.footer__section {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  width: 100%;
  align-items:baseline;
}

.footer__li {
  list-style-type: none;
}
