@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
}

.header__top {
  font-size: 24px;
  margin: 0;
  padding-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}

.header__purple {
  color: #4361ee;
  background-color: white;
  padding: 0;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  font-family: 'Poppins', sans-serif;
}

.header__bottom {
  font-size: 20px;
  margin: 0;
  margin-bottom: 24px;
  font-family:Arial, Helvetica, sans-serif;
}

.header__icon {
  color: #4361ee;
  margin-right: 12px;
  font-size: 24px;
}

.header__icon:hover {
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@media(max-width:768px) {
  .header {
    flex-direction: column;
    padding-top: 80px;
  }
}

@media(max-width:768px) {
  .profile-image {
    margin: 0;
  }
}

@media(max-width:600px) {
  h1 {
    font-size: 32px;
  }
}

@media(max-width:600px) {
  .header__bottom {
    font-size: 18px;
  }
}

@media(max-width:600px) {
  .profile-image {
    margin-bottom: 24px;
    width: 250px;
    height: 250px;
  }
}
