@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav {
  /* background-color: #d7263d; */
  background-color: #0c63e7;
  color: white;

  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items:center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin: 8px;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  font-weight: bold;
}

.nav h3 {
  padding: 0px;
  margin: 0px;
}
