@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.nav {
  background-color: #4361ee;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items:center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 100px;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li {
  margin: 12px;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  text-decoration:underline;
}

.nav h3 {
  padding: 0px;
  margin: 0px;
}
