.skills-section {
  border: 1px solid green;
  margin-bottom: 100px;
}
.skills-flex {
  display: flex;
  justify-content: space-evenly;
}

.skill-val-flex {
  display: flex;
  flex-wrap: wrap;
}

.skills__img {
  width: 350px;
  height: 350px;
}

.skill {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.skill:hover {
  background-color: #4361ee;
  color: white;
}



@media(max-width:768px) {
  .skills-flex {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:768px) {
  .skill-val-flex span {
    margin-bottom: 8px;
  }
}
